.env


_build/
build/
_modules/
_static/
_sources/
*.html
doctrees/



# macOS system files
.DS_Store

# IDE folders
.idea/

# Python cache files
__pycache__/
*.py[cod].DS_Store
.idea/
__pycache__/
*.pyc
